{%extends 'base.html'%}
{%block body%}
<div class="container">
	<h1>Enter Your Matric Number</h1>
	<div class="text-center">
	<form method="post" action="">
		{{form.hidden_tag()}}
		<p>
			{{form.matric_no.label(class="sr-only")}}{{form.matric_no(class="form-control")}}
		</p>
		<p>
			{{form.submit(class="btn btn-lg btn-primary btn-block")}}
		</p>
		<p class="mt-5 mb-3 text-muted">Panthers &copy; 2020-2021</p>
	</form>
</div>
</div>
<p class="mt-5 mb-3 text-muted">Panthers &copy; 2020-2021</p>
{%endblock body%}